/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@font-face
{
	font-family: 'Beyond';
	src: url('../fonts/beyond_the_mountains.otf')  format('truetype'),
		 url('../fonts/beyond_the_mountains.ttf')  format('opentype');
}

/*********************************
Body and some general stuff
*********************************/
*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}

div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
	color: #929191;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.super_container
{
	width: 100%;
	overflow: hidden;
}

/*********************************
 Header
*********************************/

.header
{
	position: fixed;
	width: 100%;
	background: rgba(54, 19, 84, 0.6);
	z-index: 12;
}

/*********************************
Top Bar
*********************************/

.top_bar
{
	width: 100%;
	height: 36px;
	background: #350a4e;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

.phone
{
	display: inline-block;
	margin-right: 36px;
	line-height: 36px;
	font-size: 10px;
	font-weight: 600;
	color: #FFFFFF;
}

.social_list_item
{
	position: relative;
	display: inline-block;
	margin-right: 3px;
}
.social_list_item:last-child
{
	margin-right: 0px;
}
.social_list_item a
{
	display: block;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 36px;
}
.social_list_item:hover a i
{
	color: #fa9e1c;
}
.social_list_item a i
{
    font-size: 12px;
    color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}


.main_nav_col
{
	height: 143px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
/*********************************
Logo
*********************************/
.logo a
{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color: #f4f4f8;
	font-weight: 800;
	text-transform: uppercase;
}
/*********************************
Main Nav
*********************************/

.main_nav_container
{
	margin-right: 221px;
}

.main_nav_item
{
	position: relative;
	display: inline-block;
	margin-right: 40px;
}
.main_nav_item:last-child
{
	margin-right: 0px;
}
.main_nav_item a
{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 600;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-bottom: 10px;
	padding-top: 10px;
}
.main_nav_item::after
{
	display: block;
	position: absolute;
	left: -1px;
	bottom: -11px;
	width: calc(100% + 2px);
	height: 2px;
	background: linear-gradient(to right, #fa9e1b, #8d4fff);
	content: '';
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav_item:hover::after
{
	opacity: 1;
}

/*********************************
4. Home
*********************************/


.home
{
	width: 100%;
	height: 100vh;
}


/*********************************
4.1 Home Slider
*********************************/

.home_slider_container
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: #31124b;
}
.home_slider
{
	width: 100%;
	height: 100%;
}
.home_slider_item
{
	width: 100%;
	height: 100%;
}
.home_slider_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	opacity:0.5;
}
.home_slider_content
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 11;
}
.home_slider_content h1
{
	margin-bottom: 0px;
}
.home_slider_content h1:first-child
{
	font-size: 112px;
	font-weight: 900;
	color: #FFFFFF;
	text-transform: uppercase;
}
.home_slider_content h1:nth-child(2)
{
	font-family: 'Beyond';
	font-size: 100px;
	color: #FFFFFF;
	margin-top: -34px;
}
.home_slider_button
{
	margin-top: 70px;
}

/********************************

********************************/
.fixed {
	position: fixed;
	background: #f83d23;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 6px #000;
	color: #fff;
  }
  .extra,
  .wrapper {
	width: 75%;
	margin: auto;
	background-color: #ccc;
  }
  .wrapper {
	height: 800px;
  }
  .extra {
	height: 100px;
  }
  @media (min-height: 768px) {
	#wrapper{
	  height: 2000px;
	}
  }

/********************************
chat with us
**********************************/
.chat-fixed-container {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: #31124b;
	opacity: 0.8;
	border-radius: 12px;
	z-index: 111;
	height: 15rem;
	width: 4rem;
  }
  
  .rotation-wrapper-outer {
	display: table;
  }
  .rotation-wrapper-inner {
	padding: 50% 0;
	height: 0;
  }
  
  .chat-fixed-text {
	font-weight: 600;
	color: #fff;
	font-size: 1.2rem;
	text-transform: uppercase;
	display: block;
	transform-origin: top left;
	transform: rotate(-90deg) translate(-100%, 182%);
	margin-top: -50%;
	white-space: nowrap;
  }
/*********************************
button
*********************************/
.button
{
	display: inline-block;
	height: 53px;
	border-radius: 27px;
	overflow: hidden;
}
.button_bcg
{
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 100%;
	background: linear-gradient( #31124b, #592b80, #993ac5);
	z-index: -1;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease
}
.button:hover .button_bcg
{
	background: linear-gradient(#592b80, #993ac5, #31124b);
}
.button a
{
	display: block;
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 53px;
	padding-left: 46px;
	padding-right: 46px;
	white-space: nowrap;
	z-index: 2;
}
.wallpaper1
{
	background-image:url(../images/travel.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

.wallpaper2
{
	background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,0.5)),url(../images/reviewbackground.jpg);
	background-size: cover;
	background-position: center;
}

/****************************
form book
******************************/
.container-book-about{
	width: 100%;
}
#main {
    margin: 0;
}
#sidebar    {
	width: 25%;
	height: 40rem;
    float: left;
}

#page-wrap  {
	height: 40rem;
	color: #000000;
	margin-right: 5rem;
	text-align: right;
}
.book{
	margin-left: 5rem;
	color: #000000;
	padding-top: 5rem;
}
.booking-form-box{
	max-width:350px;
	border: 1 px solid #000000;
	margin-left: 5rem;
}
.radio-btn
{
	margin: 0 20px;
}
.radio-btn .btn{
	margin: 20px 10px 20px 0;
	box-shadow: none;
}
.radio-btn .btn::after
{
	content: '';
	height:15px;
	width: 15px;
	top: -2px;
	left: -1px;
	background-color: rgb(255, 255, 255);
	position: relative;
	display: inline-block;
	border:3px solid rgb(255, 249, 249);
	visibility: visible;
	border-radius: 50%;
}
.radio-btn .btn:checked::after
{
	content: '';
	background-color: #000;
	transition: 0.5s;
}
.radio-btn span
{
	color:rgb(0, 0, 0);
	margin-right:5px;
	font-size:12px;
}
.booking-form
{
	margin-bottom: 5px;
	margin-top: 10px;
	font-size:12px;
	color:rgb(0, 0, 0);
}
input::placeholder
{
	color:rgb(0, 0, 0) !important;
}
.input-grp
{
	width:151px;
	display: inline-block;
}
.mar-left
{
	margin-left: 2.5rem;
}

.form-control
{	margin-bottom: 1rem;
	font-size:12px;
	border-radius: 0;
	color:rgb(0, 0, 0);
	background: tranparent;
	box-shadow: none;
}
.select-date::-webkit-inner-spin-button,
.select-date::-webkit-inner-spin-button
{
	-webkit-appearance: none;
	margin:0;
}
.select-date::-webkit-calender-picker-indicator
{
	background: transparent;
}
.search
{
	margin-top: 2rem;
	margin-bottom: 10rem;
	width: 100%;
	padding:9px 0;
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	border: 1px solid #000000;
	background: #0066CC;
	box-shadow: none;
	border-radius: 0;
}
.search:hover{
	background: #fff;
	color: rgb(118, 43, 180);
	transition: .5s;
}
hr{
	margin-left: 48%;
	margin-right: 48%;
	margin-bottom: -0.8rem;
	border-style: solid;
	border-width: 3px;
	border-color: #d3325f;
}
hr.card{
	margin-left: 0;
	margin-top: 0;
	margin-right: 75%;
	margin-bottom: 0.4rem;
	border-width: 2px;
	border-color: #d3325f;
}

hr.card-mid{
	margin-left: 38%;
	margin-top: 0;
	margin-right: 38%;
	margin-bottom: 0.4rem;
	border-width: 2px;
}

.subheading
{
	padding-top: 30px;
	color: #000000;
	font-size: 55px;
	text-align: center;
}
.subheading2
{
	padding-top: 30px;
	color: #ffffff;
	font-size: 55px;
	text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ssubheading
{
	padding-top: 10px;
	color: #000000;
	font-size: 16px;
	text-align: center;
}
.ssubheading2
{
	padding-top: 10px;
	color: #ffffff;
	font-size: 16px;
	text-align: center;
}
.card_2{
	border-radius: 2%;
}
.card-title
{
	color: #000000;
	font-size: 24px;
    text-align: left;
}
.card-title-mid
{
	color: #000000;
	font-size: 24px;
    text-align: center;
}

.card-text
{
	color: #000000;
	text-align: left;
}

/*@@@@@@@@@@@@@@@@@special offer @@@@@@@@@@@@@@@@*/
.item-container{
    position: relative;
    /* for the link*/
    overflow: hidden;
    background: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
    transition: all .3s ease;
}

.item-img{
    transition: all .3s ease;
}

.item-container:hover .item-img {
    /*hover on item container item-img will change*/
    transform: scale(1.2);
    opacity: 0.5;
}

.item-link{
    position: absolute;
    top: 50%;
    left:50%;
	transform: translate(-50%,50%);
	background-color: #d3325f;
    color: white;
    font-size: 2rem;
    transition: all .6s ease;
    opacity: 0;
}

.item-container:hover .item-link {
    opacity: 1;
}

.item-link:hover{
    color: #242424;
    border: 3px solid #c9c1ac;
    background: #cc3c64;
}

.item-container:hover {
    outline-offset: 0.5rem;
}
.item-container:hover .item-text {
    opacity: 1;
}
.item-text{
	position: absolute;
	top: 50%;
    left:50%;
	transform: translate(-50%,-100%);
	font-size: 2.5rem;
	transition: all .6s ease;
	opacity: 0;
	color: black;
	font-weight: bold;
}
.item-text:hover{
    color: #242424;
}
.padding-top
{
	padding-top: 5rem;
}
.padding-bottom
{
	padding-bottom: 5rem;
}
.offer-img
{
	background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,0.5)),url(../images/offer.jpg);
	background-size: cover;
	background-position: center;
}
/*********************************
carosal
*********************************/
.carosal-title
{
	font-size: 38px;
	font-weight: 800;
	color: rgb(255, 238, 0);
	text-transform: uppercase;
	padding-top: 5rem;
	display: flex;
	justify-content: space-around;
}
.carosal-content
{
	font-size: 16px;
	display: flex;
	justify-content: space-around;
	color: rgb(255, 255, 255);
}
.carosal-review
{
	font-size: 24px;
	display: flex;
	justify-content: space-around;
	color: rgb(255, 255, 255);
}
/*********************************
Footer
*********************************/

.footer
{
	width: 100%;
	padding-top: 113px;
	padding-bottom: 104px;
	background: #31124b;
}

.footer_title
{
	font-size: 15px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
}
/*********************************
11.1 Footer - About
*********************************/

.footer_about
{
	padding-top: 67px;
}
.footer_logo
{
	position: absolute;
	left: 0;
	top: -24px;
}
.footer_about_text
{
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
}
.footer_social_item
{
	display: inline-block;
	width: 31px;
	height: 31px;
	border: solid 1px #fa9e1b;
	border-radius: 50%;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	margin-right: 9px;
}
.footer_social_item:last-child
{
	margin-right: 0px;
}
.footer_social_item a
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.footer_social_item a i
{
	display: block;
	position: relative;
	color: #FFFFFF;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 12px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social_item:hover
{
	background: #fa9e1b;
}
.footer_social_item:hover a i
{
	color: #31124b;
}
/*********************************
Footer - Contact Info
*********************************/

.contact_info_list
{
	margin-top: 40px;
}
.contact_info_item
{
	margin-bottom: 22px;
}
.contact_info_icon
{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.contact_info_icon img
{
	display: block;
	width: 100%;
}
.contact_info_text,
.contact_info_text a
{
	color: #FFFFFF;
	line-height: 2.14;
	margin-top: -4px;
}
.contact_info_item:hover .contact_info_text,
.contact_info_item:hover .contact_info_text a
{
	color: #fa9e1b;
}
.contact-btn{
    font-size: large;
    color: #d3325f;
    border-color:#d3325f;
    background: tranparent;
    transition: all .3s ease-in-out;
}
.contact-btn:hover{
    background:#e2c069;
    color: #5c0dee;
    border-color:#c9c1ac;
}
/*********************************
Copyright
*********************************/

.copyright
{
	background: #1f0733;
}
.copyright_content
{
	height: 52px;
}
.copyright_content div
{
	font-size: 12px;
	font-weight: 600;
	color: #685677;
}
.footer_nav_container
{
	height: 52px;
}
.footer_nav
{
	
}
.footer_nav_list
{
	font-size: 0px;
}
.footer_nav_item
{
	display: inline-block;
	margin-right: 40px;
}
.footer_nav_item a
{
	font-size: 12px;
	font-weight: 600;
	color: #685677;
	text-transform: uppercase;
	line-height: 2;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_nav_item a:hover
{
	color: #FFFFFF;
}